.product-item {
  background-color: #fff; 
  border-radius: 10px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  padding: 15px; 
  margin: 10px; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center; 
  font-family: 'RedHatText', sans-serif; 
  transition: transform 0.3s, box-shadow 0.3s; 
}

.product-item:hover {
  transform: translateY(-5px); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
}

.product-item picture {
  width: 100%; 
  margin-bottom: 10px; 
}

.product-item img {
  width: 100%;
  border-radius: 8px;
}

.product-info {
  margin: 10px 0; 
}

.product-info h2 {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px; 
}

.product-info p {
  font-size: 16px;
  color: #d53f3f; 
  margin: 0;
}

.product-item button {
  font-family: 'RedHatText', sans-serif;
  margin-top: 10px;
  background-color: #fff;
  color: #000;
  border: 1px solid #b43737;
  border-radius: 30px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  padding: 6px;
}

.product-item button:hover {
  background-color: #b43737; 
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.cart-icon {
  height: 18px; 
  width: 18px; 
}